/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

:root {
  --orange: #fb8200;
  --white: #fff;
  --gray: #d9dbe1;
  --darkgray: #3a3a3a;
  --lightblue: #2e2c52;
  --darkblue: #0a0826;
}
/* Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.container img {
  width: 100%;
}
/* Header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu a,
.menu i {
  text-decoration: none;
  color: #000;
  padding: 10px;
  cursor: pointer;
}

/* Banner */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 80px);
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left h1 {
  font-size: 50px;
  color: var(--darkgray);
}

.banner-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url(images/circle-design.svg) right / cover no-repeat;
  background-size: 70%;
}
.banner-right img {
  width: 380px;
  height: auto;
}

/* Button Animation */

.primary-btn {
  position: relative;
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.primary-btn:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn 3s ease-in-out infinite;
}
.primary-btn:hover i {
  margin-left: 5px;
  transition: margin-left 0.03s ease-in-out;
}

@keyframes shiny-btn {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* Logos */

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logos img {
  width: 80px;
  height: 80px;
  margin: 0 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.product {
  padding: 15px;
  border: 1px solid pink;
}
.product-image {
  min-width: 300px;
  min-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.product-title {
  font-size: 28px;
  font-weight: 500;
}
.product-price {
  font-size: 24px;
}
.star {
  display: flex;
}

.star .fas {
  color: var(--orange);
}

/* Footer */

footer {
  color: var(--white);
  background-color: var(--darkblue);
  width: 100%;
  margin: 0 auto;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer span {
  font-size: 24px;
  font-weight: 700;
}
footer p {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray);
  line-height: 24px;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  height: 60px;
}
.social-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--lightblue);
}
